# Python
__pycache__/
*.pyc

# Model files
*.pt
*.pth
checkpoints/

# Dataset
dataset/

# Logs
runs/

# Outputs
output.json
output1.json
output2.json
*.png

# Audio files
*.mp3
*.wav

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/